@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background-color: gray;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: rgb(192, 192, 83);
}

html::-webkit-scrollbar-track{
    background-color: grey;
}

body{
    background-color: black;
    color: white;
    font-family: 'Alata', sans-serif;
    text-align: center;
}



.upper{
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    color: gray;
}

#particles-js{
    height: 100%;
    background: black;
}

.header{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
}


.heading{
    color: rgb(222, 220, 217);
    font-family: 'Alata', sans-serif;
    font-size: 60px;
    display: inline-block;
}

.heading:hover{
    cursor: pointer;
    color: #00ffbf;
    font-size: 60px;
    transform: translateX(-15px);
    font-family: 'Alata', sans-serif;
    transition: 0.2s ease-out;
    /* transition-duration: 1s; */
}

.gh{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.dsc{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.yt{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.email{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.fa-discord:hover{

    color: grey;
    transform: translateY(-5px);
    transition-duration: 0.1s;

}

.fa-github:hover{

    color: grey;
    transform: translateY(-5px);
    transition-duration: 0.1s;

}

.fa-youtube:hover{

    color: grey;
    transform: translateY(-5px);
    transition-duration: 0.1s;

}

.fa-envelope:hover{

    color: grey;
    transform: translateY(-5px);
    transition-duration: 0.1s;

}

.me{
    font-size: 50px;
    display: inline-block;
}