@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    background-color: black;
    color: white;
    text-align: center;
}

.upper{
    font-size: 20px;
    font-family: 'Alata', sans-serif;
}

#particles-js{
    height: 100%;
    background: black;
}

.header{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
}


.heading{
    color: rgb(222, 220, 217);
    font-family: 'Alata', sans-serif;
    font-size: 50px;
}

.heading:hover{
    cursor: pointer;
    color: #abff9a;
    font-size: 60px;
    font-family: 'Alata', sans-serif;
    transition-duration: 0.2s;
}