@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    color: black;
    background-color: white;
}

.button {
    border: solid 1px rgb(111, 20, 175);
    transition-duration: 0.50s;
}

.button:hover {
    background-color: rgb(111, 20, 175);
    color: white;
    transition-duration: 0.20s;
}