@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    color: black;
    background-color: white;
    transition-duration: 1s;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: white;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(111, 20, 175);
    border-radius: 20px;
    border: 0.1px solid white;
  }

/* Navbar code */

.logo {
    margin-left: 10px;
    padding-top: 0;
}

.logo:hover {
    cursor: pointer;
}

nav {
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.menu {
    display: flex;
    transition-duration: 1s;
}

input[type=checkbox] {
    display: none;
}

.links {
    padding-top: 10px;
    transition-duration: 0.5s;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    padding-bottom: 0;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hamburger {
    font-size: 24px;
    display: none;
    user-select: none;
}

.items {
    padding: 20px;
}

.navbar-text:hover {
    color: rgb(111, 20, 175);
}

/* buttons */

.button {
    color: rgb(111, 20, 175);
    border: solid 1px rgb(111, 20, 175);
    transition-duration: 0.50s;
    margin-top: -9px;
    margin-right: 25px;
}

.button:hover {
    background-color: rgb(111, 20, 175);
    color: white;
    transition-duration: 0.20s;
}

/* Home section code */

.home-heading {
    font-family: 'Russo One', sans-serif;
    padding-top: 32px;
    text-align: center;
    font-size: 40px;
}

.home-text {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.home {
    padding-top: 32px;
}

.home-section {
    padding-top: 32px;
}

.avatar {
    width: 15rem;
    height: 15rem;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/* About section */

.about {
    height: 50vh;
    background-color: rgb(111, 20, 175);
    text-align: center;
}

.about-heading {
    padding-top: 32px;
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 30px;
}

.text-container {
    padding: 20px 100px 0 100px;
}

.about-text {
    color: white;
    padding: 0 100px 0 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.about-section {
    padding-top: 32px;
}

/* Skills section */

.skills {
    height: 100vh;
}

.skills-heading {
    padding-top: 30px;
    font-size: 32px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.skills-text {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.progress-container {
    padding: 32px 25% 0 25%;
}

.progress {
    width: 50%;
    background-color: grey;
}

.progress-bar {
    width: 50%;
    background-color: rgb(111, 20, 175);
    display: list-item;
}

.progress-text {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.langs {
    padding-bottom: 2px;
}

/* Media queries */

@media (max-width: 768px) {
    .menu { 
     display:none;
     position: absolute;
     right: 0;
     left: 0;
     background-color: rgb(111, 20, 175);
     text-align: center;
     padding: 16px 0;
     height: 100vh;
    }

    .items {
        color: white;
        font-size: 20px;
    }

    .menu li:hover {
        display: inline-block;
       }
    
    .menu li + li {
        margin-top: 12px;
       }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    
    .hamburger {
        display: block;
        margin-left: 20px;
        padding: 14px;
    }

    .navbar-text {
        padding: 0;
    }
    .navbar-text:hover {
        color: black;
    }

    #dropdown {
        transition-duration: 1s;
    }

    .home-heading {
        font-family: 'Russo One', sans-serif;
        padding-top: 32px;
        text-align: center;
        font-size: 32px;
    }

    .button {
        margin-right: 0;
    }
    
    .about {
        height: 100vh;
        background-color: rgb(111, 20, 175);
        text-align: center;
    }

    .about-heading {
        padding: 32px 10px 0 10px;
        font-family: 'Russo One', sans-serif;
        color: white;
        font-size: 30px;
    }

    .text-container {
        padding: 0;
    }

    .about-text {
        color: white;
        padding: 20px 10px 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    .progress {
        width: 90%;
        background-color: grey;
    }

    .progress-container {
        padding: 20px 0 0 10%;
    }
}