@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    color: black;
    background-color: white;
    transition-duration: 1s;
}

nav {
    align-items: center;
    justify-content: space-between;
    transition-duration: 1s;
}

.menu {
    display: flex;
    gap: 1em;
    transition-duration: 1s;

}

input[type=checkbox] {
    display: none;
}

.hamburger {
    font-size: 24px;
    display: none;
    user-select: none;
}

.items {
    padding: 20px;
}

.button {
    color: rgb(111, 20, 175);
    border: solid 1px rgb(111, 20, 175);
    transition-duration: 0.50s;
}

.button:hover {
    background-color: rgb(111, 20, 175);
    color: white;
    transition-duration: 0.20s;
}

.navbar-text:hover {
    color: rgb(111, 20, 175);
}

@media (max-width: 768px) {
    .menu { 
     display:none;
     position: absolute;
     background-color: white;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     transition-duration: 1s;
    }

    .menu li:hover {
        display: inline-block;
        transition-duration: 1s;
       }
    
    .menu li + li {
        margin-top: 12px;
        transition-duration: 1s;
       }

    input[type=checkbox]:checked ~ .menu{
        display: block;
        transition-duration: 1s;
    }
    
    li {
        transition-duration: 1s;
    }
    .hamburger {
        display: block;
        margin-left: 20px;
        padding: 14px;
        transition-duration: 1s;
       }
}